.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  font-size: 1.25rem;
  height: 3rem;
  padding-left: 0.5rem;
}
