.container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menuItem {
  margin-left: 2rem;
  list-style: none;
  & :focus {
    font-weight: bold;
  }
}

.logo {
}
