@import '/src/styles/mediaQuery.module';
@import '/src/components/Button/Button.module';

.container {
  display: flex;
  flex-direction: column;
  @include min-small {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include min-small {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.menuItem {
  list-style: none;
  margin-left: 0;
  @include min-small {
    margin-left: 2rem;
  }
  & :focus {
    font-weight: bold;
  }
}

.logo {
}

.buttonLikeLinkPrimary {
  @extend %baseButton;
  background-color: $primaryColor;
  text-align: center;
}

.buttonLikeLinkSecondary {
  @extend %baseButton;
  background-color: $secondaryColor;
  text-align: center;
}
