@import '../../styles/mediaQuery.module';
@import '../../styles/colors.module';

.slide {
  align-items: center;
  aspect-ratio: 3/4;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
  @include min-small {
    aspect-ratio: 3/2;
  }
  @include min-medium {
    aspect-ratio: 2/1;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  @include min-small {
    width: 50%;
  }
}

.slideTitle {
  backdrop-filter: brightness(0.4);
  color: $white;
  letter-spacing: 1px;
  padding: 1rem;
}

.slideBody {
  backdrop-filter: brightness(0.4);
  color: $white;
  line-height: 130%;
  padding: 1rem;
}
